<?xml version="1.0"?>
<configuration>

  <system.web>
    <compilation debug="false" targetFramework="4.8"/>
    <pages controlRenderingCompatibilityVersion="4.0"/>
  </system.web>

  <system.webServer>
    <rewrite>
      <rules>

        <!-- /about  => about.html -->
        <rule name="HtmlWithoutExtension" stopProcessing="true">
          <match url="^(.+)$" />
          <conditions>
            <!-- agar file ya folder already exist na kare -->
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />

            <!-- check kare ki .html file exist karti ho -->
            <add input="{REQUEST_FILENAME}.html" matchType="IsFile" />
          </conditions>
          <action type="Rewrite" url="{R:1}.html" />
        </rule>

      </rules>
    </rewrite>
  </system.webServer>

</configuration>
