<?xml version="1.0"?>
<configuration>

  <system.web>
    <compilation debug="false" targetFramework="4.8"/>
    <pages controlRenderingCompatibilityVersion="4.0"/>
  </system.web>

  <!-- IIS URL Rewrite for HTML -->
  <system.webServer>
    <rewrite>
      <rules>

        <!-- Friendly URL: /about => about.html -->
        <rule name="HideHtmlExtension" stopProcessing="true">
          <match url="^(.+)$" />
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
            <add input="{REQUEST_FILENAME}.html" matchType="IsFile" />
          </conditions>
          <action type="Rewrite" url="{R:1}.html" />
        </rule>

        <!-- Block direct access to .html -->
        <rule name="BlockHtmlDirect" stopProcessing="true">
          <match url=".*\.html$" />
          <action type="AbortRequest" />
        </rule>

      </rules>
    </rewrite>
  </system.webServer>

</configuration>
